.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: #e7da76;
  font-family: "Sofia", cursive;
  .title {
    color: rgb(43, 43, 43);
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
  .logo {
    min-width: 60px;
    max-width: 160px;
    height: fit-content;
  }
  .farmer {
    min-width: 90px;
    max-width: 250px;
    height: fit-content;
  }
}
